<div class="container mf-login">
  <div class="row">
    <div class="mf-login-container">
      <div class="span12 centered-row">
        <div class="span5 offset1">
          <div class="mf-login-logo">
            <img src="img/mf-connect-logo.png" class="img-rounded">
          </div>
        </div>
        <div class="span5 mf-panel">
          <h4>Enter your new password</h4>
          <form>
            <fieldset>
              <div class="input-container">
                <div class="input-container-inner">
                  <span class="password-login-icon"></span>
                  <input type="password" class="span3" id="user-change-password-password" ng-model="password" placeholder="Password"
                    autocomplete="off">
                </div>
                <div class="input-container-inner">
                  <span class="password-login-icon"></span>
                  <input type="password" class="span3" id="user-change-password-repeat-password" ng-model="repeatPassword" placeholder="Repeat Password"
                    autocomplete="off">
                </div>
              </div>
              <div>
                <p ng-show="message" class="error">{{message}}</p>
              </div>
              <div class="clearfix">
                <button type="submit" id="submit" ng-click="doChangePassword()"
                  class="mf-button btn btn-primary pull-right">
                  Change Password
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="span12 centered-row">
        <div class="span4 offset6">
          <div class="copyright text-right">{{version}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
