<div class="container">
	<div class="row-fluid">
		<div class="offset3 span6 email-sent-by-forgot-password">
			<a href="#/" class="button-close-sent-email">
	             <img src="img/icons/white-cross-close-btn.png">
	        </a>
			<p>An email has been sent with further instructions.</p>
		</div>
	</div>

	<div class="span12 mf-login-footer reset-password-footer-position">
        <div class="span11 offset1">
          <a class="pull-right" id="aklabs-original-link" href="http://www.akkadianlabs.com/" target="_blank"></a>
          <span class="copyright pull-right">Copyright &copy;2014</span>
        </div>
    </div>
</div>

