<div data-ng-controller="forgotUserPasswordCtrl" class="container mf-login">

  <div class="row-fluid">
    <div class="mf-reset-pass-container">

      <div class="offset3 span5">
        <h2>Forgot your password?</h2>
      </div>

      <div class="offset3 span5 reset-pass">
          <form name="forgotPasswordForm">
            <fieldset>
              <div class="input-container  username-highlighter">
               <p style="font-size: 14px">Enter your username and name for a reset password email.</p>
                <div class="input-container-inner field-required-highlight user-forgot-password-hightlighter">
                  <input type="text" class="span10" id="user-login" ng-model="user.username" placeholder="Username"
                    autocomplete="off" required>
                </div>

                <div class="input-container-inner field-required-highlight user-forgot-password-hightlighter">
                  <input type="text" class="span10" id="user-login" ng-model="user.firstname" placeholder="First Name"
                    autocomplete="off" required>
                </div>

                <div class="input-container-inner field-required-highlight user-forgot-password-hightlighter">
                  <input type="text" class="span10" id="user-login" ng-model="user.lastname" placeholder="Last Name"
                    autocomplete="off" required>
                </div>
              </div>
              <div>
                <p ng-show="message" class="error">{{message}}</p>
              </div>

              <div class="clearfix">
                <button type="submit" id="submit" ng-click="forgotPassword()"
                  class="mf-button btn btn-primary pull-right" ng-disabled="forgotPasswordForm.$invalid">
                  Reset Password
                </button>
              </div>

            </fieldset>
          </form>
      </div>
    </div>
  </div>

  <div class="span12 mf-login-footer reset-password-footer-position">
      <div class="span11 offset1">
        <a class="pull-right" id="aklabs-original-link" href="http://www.akkadianlabs.com/" target="_blank"></a>
        <span class="copyright pull-right">Copyright &copy;2014</span>
      </div>
  </div>

</div>



