<div data-ng-controller="forgotUserPasswordCtrl" class="container mf-login">

  <div class="row-fluid">
    <div class="mf-reset-pass-container">

      <div class="offset3 span5">
        <h2>Reset your password</h2>
      </div>

      <div class="offset3 span5 reset-pass">

          <form name="savePasswordForm">
            <fieldset>

              <div class="input-container">

              <p style="font-size: 14px">Enter the temporary password from your email before choosing a new password for your account.</p>

              <div class="input-container-inner field-required-highlight">
                  <span class="user-login-icon"></span>
                  <input type="text" class="span10" id="user-login" ng-model="username" placeholder="Username"
                    type="email"
                    name="username"
                    autocomplete="off" required
                    mf-dynamic-phone-email-input="email"
                    tooltip="{{VALIDATION_MESSAGES.contact.missing.username}}"
                    tooltip-trigger="{{{true: 'focus', false:'never'}[savePasswordForm.username.$invalid && !savePasswordForm.username.$pristine]}}"
                    ng-pattern="MAIL_EXP">

                </div>

                <div class="input-container-inner field-required-highlight">
                  <span class="temp-password-icon"></span>
                  <input type="password" class="span10" id="user-change-password-password" ng-model="resetPassword.token" placeholder="Temporary Password"
                    autocomplete="off" required
                    name="temppassword"
                    tooltip="{{VALIDATION_MESSAGES.accountNew.missing.temppassword}}"
                    tooltip-trigger="{{{true: 'focus', false:'never'}[savePasswordForm.temppassword.$invalid && !savePasswordForm.temppassword.$pristine]}}">
                </div>

                <div class="input-container-inner field-required-highlight">
                  <span class="password-login-icon"></span>
                   <input  id="password-create-new-password" class="span10 enter-password" name="password" ng-model="resetPassword.password"
                        type="password" placeholder="New Password" autocomplete="off" required
                        tooltip="{{VALIDATION_MESSAGES.accountNew.missing.password}}"
                        tooltip-trigger="{{{true: 'focus', false:'never'}[savePasswordForm.password.$invalid && !savePasswordForm.password.$pristine]}}">

                </div>
                <div class="row-fluid password-strength-reset-container">
                  <ul id="strength" check-strength="resetPassword.password" class="span12 display-password-strength" style="display:block;">
                  </ul>
                </div>
                <div class="input-container-inner">
                  <span class="password-login-icon"></span>
                  <input type="password" class="span10" id="user-change-password-repeat-password" ng-model="repeatPassword" placeholder="Re-Enter Password"
                    pw-check="password-create-new-password" ng-required="resetPassword.password" autocomplete="off"
                    required
                    name="passwordmatch"
                    tooltip="{{VALIDATION_MESSAGES.contact.missing.passwordmatch}}"
                    tooltip-trigger="{{{true: 'focus', false:'never'}[savePasswordForm.passwordmatch.$invalid && !savePasswordForm.passwordmatch.$pristine]}}">
                </div>

                <p ng-show="message" class="error">{{message}}</p>
                <button type="submit" id="submit" ng-click="changePassword()"
                  class="mf-button btn btn-primary pull-right" ng-disabled="savePasswordForm.$invalid">
                  Save Password
                </button>
              </div>
            </fieldset>
          </form>
        </div>
    </div>
  </div>
  <div class="span12 mf-login-footer">
    <div class="span11 offset1">
      <a class="pull-right" id="aklabs-original-link" href="http://www.akkadianlabs.com/" target="_blank"></a>
      <span class="copyright pull-right">Copyright &copy;2014</span>
    </div>
  </div>
</div>
