<div class="wide-toploginBox">
  <div class="container">
  	<div class="row">
		<div class="toploginBox  span10 offset1">
			<h3> Thank you for choosing Mindframe! </h3>
		</div>
	</div>
  </div>
</div>

<div class="wide-white-box">
	<div class="container">
		<div class="row">
			<div class="loginBox span10 offset1">
				<div class="row">
					<div class="span4 offset3 loginForm text-center">
						<h5 class="alertMessage">Your account is now active, you can Login and start using Mindframe</h5>
						<a id="login-link" href="#/login" class="btnmf btn btnmf-primary btn-primary">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
